# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Project specific
output/
temp/
models/
bin/

# Environment variables
.env

# OS specific
.DS_Store
Thumbs.db
